button {
    cursor:pointer;
}

body {
  padding: 0; 
  margin: 0;
}

  .fa {
    font-size: 1.5rem;
    width: 10%;
    text-decoration: none;
    margin: -0vw 0.8vw;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-linkedin {
    color: #e0fbfc;
  }

  .fa-youtube {
    color: #e0fbfc;
  }

  .fa-github {
    color: #e0fbfc;
  }

  .fa-instagram {
    color: #e0fbfc;
  }

  .fa-facebook {
    color: #e0fbfc;
  }

  .fa-envelope {
    color: #e0fbfc;
  }