button {
    cursor:pointer;
}

button2 {
    display:block;
    width:40%; 
    margin:0 auto; 
    position:relative;
    font-size:2vw;
    margin-top: -6vw;
    outline:none;
    color:#fff;
    border:none;
    text-decoration:none;
    text-align:center;
    cursor:pointer;
    -webkit-border-radius:10px;
    -moz-border-radius:2px;
    border-radius:10px;
    background-color:#ee6c4d;
    border-bottom:1px solid #7b8b2f;
  }
  button2:hover {
		background-color: #3D5A80;
		cursor: pointer;
    opacity:0.7;
  }
  .fa {
    padding: 1vw;
    font-size: 5vw;
    width: 10%;
    text-align: center;
    text-decoration: none;
    margin: 0.2vw 0.2vw;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-linkedin {
    background: #0077b5;
    color: white;
  }

  .fa-youtube {
    background: #FF0000;
    color: white;
  }

  .fa-github {
    background: #000000;
    color: white;
  }

  .fa-instagram {
    background: -webkit-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -webkit-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
    background: -moz-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -moz-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
    background: -ms-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -ms-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
    background: -o-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -o-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
    background: radial-gradient(circle farthest-corner at 32% 106%, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), linear-gradient(135deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
    color: white;
  }

  .fa-facebook {
    background: #43609C;
    color: white;
  }

  .fa-envelope {
    background: #da3939;
    color: white;
  }